// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//Navbar Black
.bg-white {
    background-color: #000 !important;
}
.navbar-light .navbar-brand {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

//Background

body{
    background: url('./public/img/background.jpg');
}
